// Colors
$button-background: rgb(79, 125, 243);
$button-background-hover: rgb(113, 149, 245);
$icon: rgb(79, 125, 243);
$icon-background-hover: rgb(113, 149, 245);
$input-border: rgb(194, 211, 255);
$input-border-error: rgb(255, 82, 99);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(150, 150, 150);
$word-color-3: rgb(255, 82, 99);
$word-color-4: rgb(21, 31, 41);

// Font Weights
$weight-3: 300;
$weight-6: 600;
$weight-7: 700;