// Colors
$body-background: linear-gradient(to bottom, rgb(175, 103, 233), rgb(101, 101, 231));
$divider: rgb(231, 231, 233);
$section-background: rgb(255, 255, 255);
$word-color-1: rgb(244, 124, 87);
$word-color-2: rgb(120, 120, 135);
$word-color-3: rgb(74, 75, 94);
$word-color-4: rgb(29, 30, 53);

// Font size
$font-size-1: 12px;
$font-size-2: 14px;

// Font Weight
$weight-400: 400;
$weight-700: 700